/*Обнуление*/
* {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}

html,
body {
   font-family: 'Gudea', sans-serif;
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
   color: #000000;
   font-size: 15px;
}

input,
button,
textarea {
   font-family: inherit;
}

button {
   cursor: pointer;
}

.btn {
   // display: flex;
   // min-height: 49px;
   // padding: 5px 40px;
   // color: #BEBEBE;
   // justify-content: center;
   // align-items: center;
   // text-align: center;
   // line-height: 126%;
   // letter-spacing: 0.23em;
   // font-size: 15px;
}

.btn:hover {}

ul,
li {
   display: block;
   list-style: none;
   margin: 0;
   padding: 0;
}

p {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
   color: #000;
}

img {
   display: block;
   object-fit: cover;
   max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   font-family: 'Gudea', sans-serif;
   font-weight: 700;
   line-height: 82%;
   color: #000000;
   font-size: 40px;
}

/*---CASE------------------------------------------------------------------------------------------------------------*/
.wrapper {
   min-height: 100%;
   overflow: hidden;
}

[class*=__container] {
   max-width: 1330px;
   margin: 0 auto;
   padding: 0px 15px;
   box-sizing: content-box;
}